<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<tbody id="normalthread_888263">
<tr>
    <td class="icn">
        <a href="http://www.soccerbar.cc/thread-888263-1-1.html" title="新窗口打开" target="_blank">
            <img src="static/image/common/folder_common.gif"/>
        </a>
    </td>
    <th class="common">
        <a href="javascript:;" id="content_888263" class="showcontent y" title="更多操作"
           onclick="CONTENT_TID='888263';CONTENT_ID='normalthread_888263';showMenu({'ctrlid':this.id,'menuid':'content_menu'})"></a>
        <a class="tdpre y" href="javascript:void(0);" onclick="previewThread('888263', 'normalthread_888263');">预览</a>
        <em>[<a href="http://www.soccerbar.cc/forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=95">点评</a>]</em>
        <a href="http://www.soccerbar.cc/thread-888263-1-1.html" onclick="atarget(this)" class="s xst">佛罗伦萨vsAC米兰评分：普尔加8分最高
            本纳塞尔&amp;雷比奇7.4</a>
        <img src="static/image/filetype/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle"/>
    </th>
    <td class="by">
        <cite>
            <a href="http://www.soccerbar.cc/home.php/space-uid-1265200.html" c="1">qaz1929</a></cite>
        <em><span>2020-2-23 07:43</span></em>
    </td>
    <td class="num"><a href="http://www.soccerbar.cc/thread-888263-1-1.html" class="xi2">0</a><em>34</em></td>
    <td class="by">
        <cite><a href="http://www.soccerbar.cc/home.php/space-username-qaz1929.html" c="1">qaz1929</a></cite>
        <em><a href="http://www.soccerbar.cc/forum.php?mod=redirect&tid=888263&goto=lastpost#lastpost">2020-2-23
            07:43</a></em>
    </td>
</tr>
</tbody>


</body>
</html>